[mysqld]
bind-address = 0.0.0.0
datadir = /var/db
skip-external-locking

key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8

myisam-recover = BACKUP

query_cache_limit = 1M
query_cache_size = 16M

expire_logs_days = 10
max_binlog_size = 100M
max_connect_errors = 10512000

[innodb]
innodb_flush_method=normal
