[mysqld]
bind-address = 0.0.0.0
datadir = /var/db
skip-external-locking

key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8

myisam-recover = BACKUP

query_cache_limit = 1M
query_cache_size = 16M

expire_logs_days = 10
max_binlog_size = 100M
max_connect_errors = 10512000

ssl-ca=/var/db/ssl/ca-cert.pem
ssl-cert=/var/db/ssl/server-cert.pem
ssl-key=/var/db/ssl/server-key.pem
ssl-cipher=DHE-RSA-AES256-SHA:AES128-SHA

[client]
ssl-cipher=DHE-RSA-AES256-SHA:AES128-SHA

[innodb]
innodb_flush_method=normal
